body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-align: center;
  background-color: #191919;
  height: fit-content;
}
header{
    margin: 0 auto;
    background-color: #F25c27;
    text-align: center;
    border: 3px outset #ff8c5f;
}
.headline{
    font-size: 1.7em;
    color: #fff;
    letter-spacing: 0.8px;
    background-color: #F25c27;
    text-shadow: 1.77px 2.22px 3.44px #191919;
    text-transform: uppercase;
    animation-name: xy;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes xy{
    0% {margin-left: 2%;}
    33% {margin-right: 1%;}
    66% {margin-left: 1%;}
    100% {margin-left: 1%; color: #191919;}
}
h1 {
  font-size: 4rem;
  color: #DBEDF3;
}
.set {
  margin: 5% auto;
  display: flexbox;
}
.pressed {
  box-shadow: 0 3px 4px 0 #F25C22;
  text-shadow: 1.77px 2.22px 3.44px #191919;
  opacity: 0.5;
}
.drum {
  outline: none;
  border: 11px outset #3d3a38;
  font-size: 1.4rem;
  display: inline-block;
  width: 120px;
  height: 100px;
  line-height: 2;
  color: #F25C23;
  text-shadow: 1.7px 0 #191919;
  border-radius: 15px;
  text-shadow: 1.77px 2.22px 3.44px #191919;
  text-align: center;
  margin: 10px;
  background-color: #ffffff;
}
